<div id="buffet_<%=buffet.id%>" class="flex w-1/2 flex-col">
  <p class="text-sm leading-normal font-bold uppercase mt-2">Informações do buffet</p>
  <div class="flex flex-col mt-4 bg-white w-full">
    <%= render('shared/profile/information_box', title: 'Nome fantasia', attribute: buffet.trading_name) %>
    <% if buffet.user == current_user %>
    <%= render('shared/profile/information_box', title: 'Razão Social (Visível somente pra você)', attribute: buffet.company_name) %>
    <% end %>
    <%= render('shared/profile/information_box', title: 'CNPJ', attribute: CNPJ.new(buffet.registration_number).formatted) %>
    <%= render('shared/profile/information_box', title: 'Número de contato', attribute: buffet.contact_number) %>
    <%= render('shared/profile/information_box', title: 'E-mail da empresa', attribute: buffet.email) %>
    <%= render('shared/profile/information_box', title: 'Endereço da empresa', attribute: buffet.address) %>
    <%= render('shared/profile/information_box', title: 'Bairro', attribute: buffet.district) %>
    <%= render('shared/profile/information_box', title: 'Cidade', attribute: buffet.city) %>
    <%= render('shared/profile/information_box', title: 'Estado', attribute: buffet.state) %>
    <%= render('shared/profile/information_box', title: 'CEP', attribute: buffet.zipcode) %>
    <%= render('shared/profile/information_box', title: 'Métodos de pagamento', attribute: buffet.payment_methods) %>
  </div>
</div>