<% if event.event_logo.attached? %>
  <%= image_tag(event.event_logo) %>
<% else %>
  <%= image_tag("default-event.jpg") %>
<% end %>
<p><%= event.name %></p>
<p><%= event.description %></p>
<p><%= event.minimum_participants %></p>
<p><%= event.maximum_participants %></p>
<p><%= event.default_duration %></p>
<p><%= event.menu %></p>
<p><%= event.alcoholic_drinks %></p>
<p><%= event.decorations %></p>
<p><%= event.valet_service %></p>
<p><%= event.can_change_location %></p>

<% if event.event_price.present? %>
  <p>Preço base: <%= event.event_price.base_price %></p>
  <p><%= event.event_price.additional_hour_price %></p>
  <p><%= event.event_price.additional_person_price %></p>
  <p>Preço fim de semana: <%= event.event_price.weekend_base_price %></p>
  <p><%= event.event_price.weekend_additional_hour_price %></p>
  <p><%= event.event_price.weekend_additional_person_price %></p>
<% end %>