<h1>Meu Buffet</h1>

<% if user_signed_in? && @buffet %>
  <h3><%= link_to 'Editar informações', edit_user_buffet_path(current_user, current_user.buffet) %>
  <h3><%= link_to 'Eventos do buffet', events_path %>
  <h3><%= link_to 'Criar novo evento', new_event_path %>
  <div>
    <% if @buffet.buffet_logo.attached? %>
      <%= image_tag(@buffet.buffet_logo) %>
    <% else %>
      <%= image_tag("default-buffet.jpg") %>
    <% end %>
    <p><%= @buffet.trading_name %></p>
    <p><%= @buffet.company_name %></p>
    <p><%= @buffet.registration_number %></p>
    <p><%= @buffet.contact_number %></p>
    <p><%= @buffet.email %></p>
    <p><%= @buffet.address %></p>
    <p><%= @buffet.district %></p>
    <p><%= @buffet.city %></p>
    <p><%= @buffet.state %></p>
    <p><%= @buffet.zipcode %></p>
    <p><%= @buffet.payment_methods %></p>
    <p><%= @buffet.description %></p>
  </div>
<% else %>
  <div>
    <p>Você não tem um buffet cadastrado! Você será redirecionado em breve...</p>
  </div>
<% end %>