<% if !@buffet.is_enabled && @buffet.deleted_at.present? %>
<div class="w-full text-center my-4 lg:px-8">
  <div class="p-2 bg-red-500 items-center text-white leading-none lg:rounded-full flex lg:inline-flex">
    <span class="px-1 py-1"><svg class="fill-current h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></span>
    <span class="font-semibold mr-2 text-left flex-auto">ATENÇÃO - Esse buffet foi desativado em <%= l(@buffet.deleted_at, :format => :long) %></span>
  </div>
</div>
<% end %>

<div class="flex flex-row gap-x-8 w-1/2 mt-4">
  <%= link_to 'Editar informações', edit_buffet_path(@buffet), :class => "bg-blue-400 rounded-full px-3 py-2 text-sm font-semibold text-white w-auto hover:underline flex mx-auto" %>
  <%= link_to 'Eventos do buffet', events_path, :class => "bg-blue-400 rounded-full px-3 py-2 text-sm font-semibold text-white w-auto hover:underline flex mx-auto" %>
  <%= link_to 'Criar novo evento', new_event_path, :class => "bg-blue-400 rounded-full px-3 py-2 text-sm font-semibold text-white w-auto hover:underline flex mx-auto" %>
  <% if @buffet.is_enabled %>
  <%= button_to 'Desativar buffet', buffet_disable_path(current_user.buffet), method: :post, :class => "bg-red-400 rounded-full px-3 py-2 text-sm font-semibold text-white w-auto hover:underline flex mx-auto" %>
  <% else %>
  <%= button_to 'Reativar buffet', buffet_enable_path(current_user.buffet), method: :post, :class => "bg-green-400 rounded-full px-3 py-2 text-sm font-semibold text-white w-auto hover:underline flex mx-auto" %>
  <% end %>
</div>
<div class="flex flex-row justify-between gap-8 mt-2">
  <%= render 'buffet_about', buffet: @buffet %>
  <%= render 'shared/buffet/info', buffet: @buffet %>
</div>