<div class="flex flex-col">
  <div class="flex flex-row justify-between gap-8 mt-8">
    <%= render 'buffet_about', buffet: @buffet %>
    <%= render 'shared/buffet/info', buffet: @buffet %>
  </div>

  <% if @reviews.present? %>
    <p class="text-sm leading-normal font-bold uppercase mt-6 mb-4 text-center">Avaliações do buffet (<%= @reviews.count %>)</p>
    <% if @reviews.count <= 3 %>
      <div class="flex flex-row gap-x-8 justify-around">
        <% @reviews.each do |review| %>
          <div class="flex flex-row gap-x-8 mb-8 justify-center">
            <%= render 'shared/review/card', review: review %>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="flex flex-col">
        <div class="flex flex-row gap-x-8 justify-around">
          <% @reviews.take(3).each do |review| %>
            <div class="flex flex-row gap-x-8 mb-8 justify-center">
              <%= render 'shared/review/card', review: review %>
            </div>
          <% end %>
        </div>
        <%= link_to 'Ver todas avaliações', buffet_reviews_path(@buffet), :class => "bg-blue-400 rounded-full px-3 py-2 text-sm font-semibold text-white w-auto hover:underline flex mx-auto" %>
      </div>
    <% end %>
  <% end %>

  <% if @events.present? %>
    <p class="text-sm leading-normal font-bold uppercase my-4 text-center">Eventos do buffet</p>
    <div class="flex flex-col">
      <% @events.each do |event| %>
        <div class="flex flex-row gap-x-8 mb-12 justify-center">
          <%= render 'shared/event/card', event: event %>
          <div class="w-1/2">
            <%= render 'shared/event/info', event: event %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>