<h1>Eventos do meu buffet</h1>

<% @events.each do |event| %>
  <div>
    <p><%= event.name %></p>
    <p><%= event.description %></p>
    <p>Participantes: Min. <%= event.minimum_participants %> - Max. <%= event.maximum_participants %></p>
    <p><%= event.default_duration %> min.</p>
    <%= link_to('Ver mais', event_path(event)) %>
  </div>
<% end %>