<h1>Novo evento</h1>

<%= form_with(model: @event) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.label :minimum_participants %>
    <%= f.number_field :minimum_participants %>
  </div>
  <div>
    <%= f.label :maximum_participants %>
    <%= f.number_field :maximum_participants %>
  </div>
  <div>
    <%= f.label :default_duration %>
    <%= f.number_field :default_duration %>
  </div>
  <div>
    <%= f.label :menu %>
    <%= f.text_area :menu %>
  </div>
  <div>
    <%= f.label :alcoholic_drinks %>
    <%= f.check_box :alcoholic_drinks %>
  </div>
  <div>
    <%= f.label :decorations %>
    <%= f.check_box :decorations %>
  </div>
  <div>
    <%= f.label :valet_service %>
    <%= f.check_box :valet_service %>
  </div>
  <div>
    <%= f.label :can_change_location %>
    <%= f.check_box :can_change_location %>
  </div>
  <div>
    <%= f.submit 'Salvar' %>
  </div>
<% end %>