<h1><%= @event.name %></h1>

<p>Descrição do evento: <%= @event.description %></p>
<p>Mínimo de participantes: <%= @event.minimum_participants %></p>
<p>Máximo de participantes: <%= @event.maximum_participants %></p>
<p>Duração padrão: <%= @event.default_duration %> minutos</p>
<p>Cardápio: <%= @event.menu %></p>

<div id="event_options">
  <% if @event.alcoholic_drinks %>
    <p>Esse evento possui bebidas alcoólicas.</p>
  <% else %>
    <p>Esse evento não possui bebidas alcoólicas.</p>
  <% end %>

  <% if @event.decorations %>
    <p>Esse evento inclui decorações artísticas.</p>
  <% else %>
    <p>Esse evento não inclui decorações artísticas.</p>
  <% end %>

  <% if @event.valet_service %>
    <p>Esse evento inclui serviço de estacionamento.</p>
  <% else %>
    <p>Esse evento não inclui serviço de estacionamento.</p>
  <% end %>

  <% if @event.can_change_location %>
    <p>Esse evento pode ser realizado em outra localização.</p>
  <% else %>
    <p>Esse evento só pode ser realizado nos espaços do buffet.</p>
  <% end %>
</div>