<div class="flex flex-row">
  <% if @order.has_multiple_orders_for_desired_date? && current_user.owner? %>
  <div id="alert-event-date">
    <p>ATENÇÃO: Existem outros pedidos para esse mesmo dia!</p>
  </div>
  <% end %>
  <% if @order.status == 'canceled' %>
  <div id="alert-canceled-order">
    <p>ATENÇÃO: Esse pedido foi cancelado!</p>
  </div>
  <% end %>

  <div class="bg-red-500">
    <h1>Vendo pedido código <%= @order.code %></h1>
    <p><%= @order.desired_date %></p>
    <p><%= @order.desired_address %></p>
    <p>Estimativa de convidados: <%= @order.estimated_invitees %></p>
    <p>Buffet: <%= @order.buffet.trading_name %></p>
    <p>Evento: <%= @order.event.name %></p>
    <p>Pedido efetuado por: <%= @order.user.full_name %></p>
    <% if current_user.owner? && @order.status == 'awaiting_evaluation' %>
    <%= link_to 'Aprovar pedido', new_order_proposal_path(@order) %>
    <%= button_to 'Recusar pedido', order_refuse_path(@order), method: :post %>
    <% end %>

    <% if @order.proposal %>
      <h1>Proposta enviada pelo buffet</h1>
      <p>Valor final proposto: <%= @order.proposal.total_value %></p>
      <% if @order.proposal.discount %>
      <p>Desconto oferecido: <%= @order.proposal.discount %></p>
      <% end %>
      <% if @order.proposal.tax %>
      <p>Taxa extra: <%= @order.proposal.tax %></p>
      <% end %>
      <p>Descrição: <%= @order.proposal.description %></p>
      <p>Forma de pagamento: <%= @order.proposal.payment_method %></p>
      <p>Data limite para essa proposta: <%= l(@order.proposal.expire_date) %></p>
      <% if current_user.customer? && @order.status == 'accepted_by_owner' %>
        <%= button_to 'Aceitar proposta', order_accept_path(@order), method: :post %>
        <%= button_to 'Recusar proposta', order_refuse_path(@order), method: :post %>
      <% end %>
    <% end %>
  </div>

  <div class="w-1/2">
  <%= form_with(model: ChatMessage.new, url: order_chat_messages_path(@order), method: :post) do |f| %>
    <%= render('shared/chat/chat_box', messages: @chat_messages, f: f) %>
  <% end %>
  </div>
</div>