<div id="event_<%=event.id%>_info" class="flex flex-col w-full">
  <p class="text-sm leading-normal font-bold uppercase mt-2">Informações do evento</p>
  <div class="flex flex-col mt-4 bg-white w-full">
    <%= render('shared/profile/information_box', title: 'Mínimo de participantes', attribute: "#{event.minimum_participants} pessoas") %>
    <%= render('shared/profile/information_box', title: 'Máximo de participantes', attribute: "#{event.maximum_participants} pessoas") %>
    <%= render('shared/profile/information_box', title: 'Duração padrão', attribute: "#{event.default_duration} minutos") %>
    <%= render('shared/profile/information_box', title: 'Cardápio', attribute: event.menu) %>
    <%= render('shared/profile/information_box', title: 'Serve bebidas alcoólicas?', attribute: event.alcoholic_drinks ? 'Sim' : 'Não') %>
    <%= render('shared/profile/information_box', title: 'Inclui decorações artísticas?', attribute: event.decorations ? 'Sim' : 'Não') %>
    <%= render('shared/profile/information_box', title: 'Inclui serviço de estacionamento?', attribute: event.valet_service ? 'Sim' : 'Não') %>
    <%= render('shared/profile/information_box', title: 'É possível mudar local do evento?', attribute: event.can_change_location ? 'Sim' : 'Não') %>
  </div>
</div>