<!DOCTYPE html>
<html>
  <head>
    <title>Cadê Buffet?</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <h1>Cadê Buffet?</h1>
      <nav id="navbar">
        <%= link_to 'Home', root_path %>
        <% if user_signed_in? %>
          <span><%= current_user.full_name %></span>
          <%= button_to 'Logout', destroy_user_session_path, method: :delete %>
        <% else %>
          <span>Convidado</span>
          <%= link_to 'Login', new_user_session_path %>
        <% end %>
      </nav>
    </header>
    <main>
      <div id="alert">
        <p><%= alert %></p>
        <p><%= notice %></p>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
